.responsibility-list__item {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
}
.responsibility-list__item + .responsibility-list__item {
  margin-left: 30px;
}
.responsibility-list__link {
  width: 100%;
  height: 100%;
  @include flex-center(center, center, center);
  background: #f5f4fa;
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.responsibility-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.hero-list {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

// .hero-list:not(:last-child) {
//   margin-right: 30px;
// }

.responsibility-list__title {
  margin-bottom: 10px;
}

.hero-section {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.responsibility-list__title {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: center;
  color: var(--second-title-color);
  @media screen and (min-width: 480px) {
    width: 450px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    text-align: unset;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.responsibility-list__title-description {
  @include font(400, 14px, 1.7, 0.03em);
  width: 100%;
  color: var(--main-text-color);
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
