.about-us-list {
  display: flex;
}

.about-us-list__image {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.about-us-list__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  @include flex-center(center, center, center);
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
.about-us {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    background-color: #ffffff;
  }
}
