.portfolio-hero {
  background-color: #ffffff;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.filters-button__btn-item {
  @include font(500, 16px, 1.62, 0.03em);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-style: none;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border-width: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--header-text-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
.filters-button__btn-item {
  fill: currentColor;
}

.filters-button__item:not(:last-child) {
  margin-right: 8px;
}
// .filters-button__btn-item + .filters-button__btn-item {
//   margin-left: 8px;
// }
.filters-button__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 30px;
    @include flex-center(center, center, center);
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 50px;
    @include flex-center(center, center, center);
  }
}
.filters-button__item {
  @media screen and (min-width: 480px) {
    flex-basis: calc(100% / 5 - 8px);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 5 - 8px);
  }
  @media screen and (min-width: 1200px) {
    // flex-basis: calc(100% / 5 - 8px);
  }
}
