:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --adress-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-button-color: #2196f3;
  --link-text-color: #757575;
  --header-text-color: #212121;
}
